@charset "UTF-8";

@use 'sass:math';
@use 'sass:string';

$skew-n: skew(-30deg);

nav#nav {
  position: fixed;
  top: 8px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  $height: 48px;
  height: $height + 4px;
  overflow-x: hidden;
  overflow-y: visible;
  > div {
    $extw: math.tan(30deg) * $height;
    height: $height;
    position: relative;
    display: flex;
    &::after {
      content: '';
      background-color: #111a;
      display: block;
      height: 100%;
      width: string.unquote('calc(#{$extw} + 100%)');
      position: absolute;
      z-index: -1;
      transform: string.unquote('translateX(-#{math.div($extw, 2)})') $skew-n;
      box-shadow: 2px 2px 2px #1113;
    }
    > ul {
      height: inherit;
      width: fit-content;
      display: flex;
      margin: 0;
      gap: 16px;
      position: relative;
      > li {
        height: inherit;
        display: flex;
        align-items: center;
        a {
          color: #fff;
          text-decoration-line: none;
          transition: color 500ms ease-in-out;
        }
        &:hover a {
          color: #6cf;
        }
        transition: background-size 500ms ease-in-out;
        background: {
          image: linear-gradient(#6cf);
          size: 0 2px;
          repeat: no-repeat;
          position: right bottom;
        }
        &:hover {
          background-size: 100% 2px;
          background-position-x: left;
        }
      }
      &#nav-left {
        padding-left: 16px;
        padding-right: 8px;
      }
      &#nav-right {
        padding-left: 8px;
        padding-right: 16px;
      }
    }
  }
}
