@charset "UTF-8";

@use 'sass:math';

@use '_value.scss';

nav#nav {
  position: fixed;
  top: 8px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  $height: 48px;
  height: $height + 4px;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: monospace;
  > div {
    $extw: math.tan(value.$angle) * $height;
    height: $height;
    position: relative;
    display: flex;
    &::after {
      content: '';
      background-color: value.$card-bg-color;
      display: block;
      height: 100%;
      width: calc(#{$extw} + 100%);
      position: absolute;
      z-index: -1;
      transform: translateX(-#{math.div($extw, 2)}) value.$skew-n;
      box-shadow: value.$shadow;
    }
    > ul {
      height: inherit;
      width: fit-content;
      display: flex;
      margin: 0;
      gap: 16px;
      padding: 0 12px;
      position: relative;
      > li {
        height: inherit;
        display: flex;
        align-items: center;
        a {
          color: #fff;
          text-decoration-line: none;
          transition: color 500ms ease-in-out;
        }
        &:hover a {
          color: #6cf;
        }
        transition: background-size 500ms ease-in-out;
        background: {
          image: linear-gradient(#6cf);
          size: 0 2px;
          repeat: no-repeat;
          position: right bottom;
        }
        &:hover {
          background-size: 100% 2px;
          background-position-x: left;
        }
      }
    }
  }
}
