#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 25px;
}

.img-container {
    width: 200px;
    height: 114px;
    padding: 4px 4px 32px 4px;
}

.img-container > img {
    transition: transform 0.2s;
    clip-path: polygon(25px 0%, 100% 0%, calc(100% - 25px) 100%, 0% 100%);
    width: calc(100% + 25px);
    height: 114px;
    object-fit: cover;
}

.img-container:hover > img {
    transform: scale(1.05);
}

.img-container > .img-desc {
    position: relative;
    top: -114px;
    left: 0;
    z-index: -1;
    transition: all 0.2s;
    display: block;
    height: 114px;
    width: calc(100% + 25px);
    clip-path: polygon(25px 0%, 100% 0%, calc(100% - 25px) 100%, 0% 100%);
}

.img-container:hover > .img-desc {
    top: 0;
    left: -25px;
    transform: scale(1.05);
}

.img-desc > div {
    background-color: #0001;
    line-height: 100%;
    padding-top: 6px;
}

.img-desc-name {
    padding-left: 26px;
}

.img-desc-date {
    padding-left: 22px;
}
