@charset "utf-8";

#background-main {
    background-image: url(https://static.xhustudio.eu.org/images/webp/Miracle_Forest__VIP_Mix__jacket.webp);
    background-position: center;
    background-size: cover;
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
    position: fixed;
    z-index: -1;
    filter: blur(4px);
}

.layui-nav {
    background-color: transparent;
    font-family: monospace;
    width: max-content;
    position: sticky;
    top: 0;
    z-index: 1;
}

.layui-nav-bar,
.layui-nav .layui-this::after {
    background-color: #6cf;
}

#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8px;
    padding-right: 32px;
}

.img-container {
    width: 200px;
    height: 114px;
    margin: 4px;
    padding-bottom: 30px;
    transform: skew(-12.3690615deg);
}

.img-container:hover {
    transform: scale(1.05) skew(-12.3690615deg);
}

.img-container > .img-clipper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-clipper > img {
    transition: transform 0.2s;
    width: calc(100% + 25px);
    height: 100%;
    object-fit: cover;
    transform: skew(12.3690615deg);
    position: relative;
    left: -12.5px;
}

.img-container > .img-desc {
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all 0.2s;
    background-color: #23292ecc;
    color: #fff;
    line-height: 100%;
    box-shadow: 5px 5px 5px #0004;
    width: 100%;
    height: 114px;
}

.img-container:hover > .img-desc {
    height: 144px;
}

.img-desc > span {
    transform: skew(12.3690615deg);
    display: block;
    line-height: 100%;
    position: absolute;
    left: 2px;
    right: 2px;
}

.img-desc-name {
    bottom: 14px;
    font-size: 14px;
}

.img-desc-date {
    bottom: 2px;
    font-size: 10px;
}

